
<div class="jumbotron center">
    <h1>Welcome To My Pinterested App!</h1>

    <p>Pretty Awesome, don't you think?</p>
    
    <%= link_to "Login", root_path, class: 'btn btn-success' %>
    <%= link_to "Login", root_path, class: 'btn btn-success' %>

</div>